.comic
    width: 33%
    .preview
        > h3
            font-size: 2em
            line-height: 1em

        img.comic-cover
            height: 100%
            width: em(450)

        p
            padding: 1em
