<!DOCTYPE html>
<html>
<head>
    <title>Comic Book Pull List</title>
    <link rel="stylesheet" href="public/main.css">
</head>
<body>
    <div id="main">
    	{{{ body }}}
    </div>
    <script src="public/main.js"></script>
</body>
</html>
