<!DOCTYPE html>
<html>
<head>
    <title>Comic Book Pull List</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div id="main">{{{ body }}}</div>
    <script src="/client.js"></script>
</body>
</html>
