html, body
    margin: 0
    padding: 0
    font-size: 16px

form[name="publisher-select"]
    margin-left: em(20)
    margin-top: em(15)

.styled-select
    border: 1px solid #ccc
    display: inline
    border-radius: 4px
    padding: em(5)
    overflow: hidden
    > select
        border: none
        box-shadow: none
        background: transparent

.comics-list
    margin: em(20)
    display: flex
    flex-flow: row wrap
    justify-content: space-around

    .publisher
        display: flex
        flex-flow: column wrap

        > img
            width: 10%
            height: 100%

        .publisher-issues
            display: flex
            flex-flow: row wrap